.MovieCard {
    background-color: #181818; /* Dark card background */
    border: none;
    width: 320px;
    height: 484px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.8);
    color: #654c4c; /* Light text color */
    overflow: hidden; /* Ensures no overflow */
    border-radius: 8px; /* Rounded corners */
    transition: all 0.2s ease;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Ensures cover fits well */    
    }

    .MovieInfo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.85);
        color: white;
        padding: 20px;
        box-sizing: border-box;
        opacity: 0;
        transition: opacity 0.2s ease;
        overflow: scroll;

        .Rating {
            position: absolute;
            right: 0;
            bottom: 0;
            margin: 30px;

            background-color: #bb00ff7e;
            padding: 5px 10px; /* Padding inside the rating box */
            border-radius: 12px; /* Rounded corners for the rating box */
            font-size: 16px; /* Font size for the rating text */
            font-weight: bold; /* Font weight for the rating text */
            color: #fff;
        }
    }

    &:hover {
        transform: scale(1.1);
        z-index: 1;
        
        .MovieInfo {
            opacity: 1;
            
        }

        
    }
}

.MovieCard .MovieInfo label {
    padding: 5px 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ccc;
    color: #333;
    transition: all 0.2s ease;

    &:hover {
        background-color: #828282;
    }
}
.MovieCard .MovieInfo .favorited {
    background-color: #ff4500; /* Orangered for favorited */
    color: white;
    &:hover {
        background-color: #8e2600;
    }
}
.MovieCard .MovieInfo .watched {
    background-color: #00bfff; /* DeepSkyBlue for liked */
    color: white;
    &:hover {
        background-color: #0085b1;
    }
}